body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}


.header {
    background-color: #196180;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 5px 10%;
    font-family: 'Oswald';
    position: sticky;
    top: 0px;
    z-index: 3;
}



.header .logo img {
    height: 40px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.3);
}

.header .nav-links a {
    font-size: 700;
    color: white;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #238ab6;
}



footer {
    background-color: #0F2027;
    color: #fff;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-container a:hover {
    color: #ddd;
}

.contenedor-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    background-color: #f1ece7b2;
    font-family: "Times New Roman", Times, serif;
}

.contenedor-item img {
    height: 500px;
    width: 400px;
    justify-content: end;
}

h1 {
    color: white;
    text-align: center;
}

.titulo {
    font-family: "Times New Roman", Times, serif; 
    font-weight: bold; 
    font-size: 50px; 
    color: #ddd;
    margin-top: 30px;
}

.subtitulo {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    color: #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-custom.text-white.py-4 {
    font-family: "Times New Roman", Times, serif;
}

.header {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.subtitulo {
    text-align: center;
}


@media (max-width: 480px) {
    .contenedor-item img {
        display: none;
    }
}

@media (max-width: 480px) {
    .logo {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav-links {
        align-items: left;
        display: wrap;
    }
}

@media (max-width: 480px) {
    .contenedor-item img {
        display: none;

    }
}

.contac {
    display: contents;
    justify-content: left;
    align-items: start;
    cursor: default;
}
.titulo {
    color: #ddd;
    margin-top: 30px;
}
.subtitulo{
    color: #ddd;
    margin-top: 30px;
    margin-bottom: 30px;
}